:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mime-label {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;

  font-weight: 600;
  color: var(--gray-12) !important;
  white-space: pre-wrap;
  max-width: 250px;
}

.mime-value {
  white-space: pre-wrap;
}

.inputarea.-window-dragging {
  outline: 2px var(--accent-7) !important;
  outline-style: dashed !important;
}

.inputarea.-drag-enter input {
  background: var(--accent-5);
}
